Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans:- Database:- A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

# Differnce between SQL and NoSQL database
SQL Database:- Tables with fixed rows and columns.
NoSQL Database:- Document: JSON documents, Key-value: key-value pairs, Wide-column: tables with rows and dynamic columns,

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans:- DDL:- A data definition language is a computer language used to create and modify the structure of database objects in a database.

CREATE:- CREATE statement are used to create table.
example:- "CREATE TABLE if not exists test1.test_table(c1 INT, c2 VARCHAR(50), c3 INT, c4 FLOAT, c5 VARCHAR(40))"

DROP:- DROP statement are used to delete a table in the database.
example:- DROP TABLE Table_name;

ALTER:- ALTER statement are used to add,delete,modify columns in table.
example:- ALTER TABLE Table_name ADD column_name type();

TRUNCATE:- TRUNCATE statement are used to delete the data inside the table, but not the table itself.
example: TRUNCATE TABLE table_name;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans:- DML:-Data Manipulation Language It is the component of the SQL statement that controls access to data and to the database.

INSERT:- INSERT is used to insert records into a specified table of the database.
example:- "insert into test1.test_table values(3425,'dipesh',7896,34.5,'purohit')"

UPDATE:- UPDATE Query is used to modifying the existing records in a table.
example:- UPDATE Students SET DepartmentId = 3 WHERE StudentId = 6;

DELETE:- DELETE query is used to remove existing records from a specified table. 
example:- DELETE FROM table_name;

Q4. What is DQL? Explain SELECT with an example.

Ans:- DQL:- DQL is used to fetch the data from the database.

SELECT:- It is used to select the attribute based on the condition described by WHERE clause.
example:- SELECT * FROM table_name;

Q5. Explain Primary Key and Foreign Key.

Ans:- Primary Key:- A primary key is used to ensure data in the specific column is unique. 
      Foreign Key:- foreign key is a column or group of columns in a relational database table that provides a link between         data in two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

# python code to connect MySQl to python
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

cursor():- A cursor is an object which helps to execute the query and fetch the records from the database. 
execute():- The Execute method executes the query, SQL statement or procedure specified in the CommandText property of the Command object.

Q7. Give the order of execution of SQL clauses in an SQL query.

1) FROM
2) WHERE
3) GROUP BY
4) HAVING
5) SELECT
6) ORDER BY
7) LIMIT